.header {
  background-color: $black;
  border-bottom: 1px solid $red;
  
  
  .header__logo {
    @include span(2);
    

    @include breakpoint($medium) {
        max-width: 95px;
    }

  }

  .header__title {
    font-family: $orbitron;
    margin-top: 22px;
    font-size: 1.5 em;
    color: $white;
    float: right;

    @include breakpoint($medium) {
        font-size: 2em;
        margin-top: 36px;
    }
  }

}